.container {
  display: flex;
  justify-content: center;
  position: absolute;
  margin: 150px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.screenshot {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width:250px;
}

.information {
  margin-left: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text {
  display: inline-block;
  max-width: 75%;
  font-family: 'Open Sans', serif;
  font-weight: 50;
  color: #eee;
}

.source {
  width:175px;
}

.downloads {
  margin-left: -10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.links {
  position: absolute;
  margin: 10px;
  right: 0;
  bottom: 0;
}

.link {
  font-family: 'Open Sans', serif;
  color: white;
}
